## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: initializer-dist
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://www.kicksecure.com/wiki/Verifiable_Builds
Vcs-Browser: https://github.com/Kicksecure/initializer-dist
Vcs-Git: https://github.com/Kicksecure/initializer-dist.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: initializer-dist
Architecture: all
Provides: whonix-initializer, anon-shared-build-remember-sources, anon-shared-build-sanity-checks
Replaces: whonix-initializer, anon-shared-build-remember-sources, anon-shared-build-sanity-checks
Conflicts: whonix-initializer, anon-shared-build-remember-sources, anon-shared-build-sanity-checks
Depends: psmisc, debsums, damngpl, safe-rm, ${misc:Depends}
Description: Initializes Linux distributions, Release Upgrades and Legacy
 Contains a chroot-scripts-post.d script, that cleans up temporary files, logs.
 .
 Deletes random seeds. Since these should not be included in a redistributed
 image. Also sometimes called 'golden' image.
 .
  - /var/lib/urandom/random-seed
  - /var/lib/systemd/random-seed
  - /var/lib/random-seed
  - See also: https://systemd.io/RANDOM_SEEDS.html
